

/* */

.divHeaderAccueil {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2em;
}

.imgHeaderAccueil {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url("../img/Flore.png");
}

.titreObjectifHeaderAccueil, .titreMissionHeaderAccueil {
    color: var(--rose);
    font-size: calc(2em * var(--text-multiplier));
}

#changing-textAccueil {
    color: var(--gris);
    font-size: calc(2em * var(--text-multiplier));
}

.titreMissionHeaderAccueil {
    color: var(--gris);
}

.titreExplicatifHeaderAccueil {
    font-weight: bold;
    color: var(--rose);
}

.containerTxtAnimation {
    display: flex;
    overflow: hidden;
    width: 100%;
    background-color: var(--blancBeige);
}
.txtExplicatifEchec {
    color: var(--rose);
    font-size: calc(1em * var(--text-multiplier));
}

.txt {
    color: var(--gris);
    white-space: nowrap;
    font-size: calc(5em * var(--text-multiplier));
    animation: scrollTxtLeft 25s linear infinite;
}

.secton3Accueil {
    padding: 3em 0;
    background-color: var(--blancBeige);
}

.carteConditionsAccueil {
    width: 700px;
    display: flex;
    align-items: center;
}

.imgChatTel, .imgChatOrdiAccueil, .imgChatBocal {
    height: 150px;
    width: 150px;
    background-image: url("../img/chatTel.png");
}

.imgChatOrdiAccueil {
    background-image: url("../img/chatOrdi.png");
}

.imgChatBocal {
    background-image: url("../img/chatBocal.png");
}

.imgCheckBoxAccueil {
    height: 2em;
    width: 2em;
    background-image: url("../img/checkbox.png");
}

.titreOffreBackground {
    display: inline-block;
    color: #DB4B6C;
    font-size: calc(1.6em * var(--text-multiplier));
    padding: 0.5em;
    border-radius: 15px;
    background-color: #F8D4DE;
}

.containerContentEbook {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txtEBookExplicatif {
    color: var(--gris);
    font-size: calc(1.2em * var(--text-multiplier));
}

.imgEBook {
    height: 500px;
    width: 500px;
    background-image: url("../img/EBook.png");
}

.imgPageAtelier {
    height: 500px;
    width: 240px;
    border-radius: 25px;
    transform: rotate(-7.5deg);
    background-image: url("../img/imgPageAtelier.png");
}

.imgFloreFlipo {
    height: 550px;
    width: 500px;
    background-size: cover;
    border-radius: 90px;
    background-image: url("../img/imgFloreFlipo.jpg");
}

.decoScintillement, .decoScintillement2 {
    position: absolute;
    top: -82px;
    left: 89vw;
    height: 200px;
    width: 200px;
    transform: rotate(315deg);
    background-image: url("../img/scintillementSectionLifeAccueil.png");
}

.decoScintillement2 {
    top: -89px;
    left: 51vw;
    transform: rotate(230deg);
}

.txtLifeAccueil {
    color: var(--gris);
    font-size: calc(1.1em * var(--text-multiplier));
}

/* Carrousel Accueil */
.swiper {
    width: 100%;
    height: 70vh;
    --swiper-navigation-color: #EF396A;
    --swiper-pagination-color: #EF396A;
}

.swiper-wrapper{
    display: flex;
    align-items: start;
    width: 90%;
}

.swiper-slide{
    min-height: 70%;
    max-height: 100%;
    height: auto;
    width: 40vh;
    background-color: var(--blancBeige);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5vh;
    margin-right: 5vh;
    border-radius: 25px;
}

.imgProfilAvisAccueil {
    width: 15vh;
    height: 15vh;
    margin-top: 15%;
    margin-bottom: 2vh;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.containerContentAvisAccueil {
    display: flex;
    justify-content: center;

}

.name{
    text-align: center;
    margin-bottom: 1.5em;
}

.content{
    width: 90%;
    max-height: 18em;
    text-align: center;
    overflow: auto;
}


.containerContentOffre90 {
    display: flex;
    align-items: center;
    flex-direction: column;
}




/* */
@media (max-width: 991px) {
    .imgHeaderAccueil, .decoScintillement, .decoScintillement2, .imgFloreFlipo, .imgPageAtelier {
        display: none;
    }
    .divHeaderAccueil {
        text-align: center;
        width: 100%;
    }
    .carteConditionsAccueil {
        flex-direction: column;
    }
    .txtExplicationCommentAccueil, .containerContentOffre90>p {
        font-size: 2em;
    }
    .imgCheckBoxAccueil {
        height: 12em;
        width: 12em;
    }
    .containerContentEbook {
        flex-direction: column;
    }
    .containerContentExplicationAtelier > * {
        display: flex;
        justify-content: center;
        font-size: 2em;
    }
    .containerRecapPageAtelier {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .divContentButton {
        justify-content: center;
    }
    .containerContentOffre90 {
        text-align: center;
    }
    .swiper {
        margin: 3em 0;
        height: auto;
    }
}



@keyframes scrollTxtLeft {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}