
.sectionContact
{
    display: flex;
    min-width: 1100px;
    min-height: 630px;
    position: relative;
    border-radius: 25px;
}

.contactInfo
{
    position: absolute;
    top: 170px;
    width: 350px;
    border-radius: 25px;
    height: calc(70% - 80px);
    background-color: var(--rose);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.extraBolt
{
    font-weight: 900;
}

.effetOmbre {
    text-shadow: 1px 1px rgb(250, 182, 201);
}

.sectionContact .contactCalendly
{
    position: relative;
    padding-left: 146px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: auto;
    border-radius: 25px;
    background-color: var(--beige);
}

.info, .info>li
{
    position: relative;
    margin: 20px 0;
}

.info li span  :nth-child(1)
{
    width: 30px;
    min-width: 30px;
}

.info li span  :nth-child(1) img
{
    max-width: 100%;
}

.txtCoordonees, h2{
    font-size: calc(1.5em * var(--text-multiplier));
}

.icon {
    font-size: calc(1em * var(--icon-multiplier));
}

@media (max-width: 991px) {
    .effetOmbre {
        text-shadow: none;
    }
    .sectionContact
    {
        width: 100%;
        min-width: auto;
        display: flex;
        flex-direction: column;
    }
    .contactInfo
    {
        top: 0;
        position: relative;
        margin-top: 3em;
        width: 100%;
        height: auto;
    }
    .sectionContact .contactCalendly
    {
        position: relative;
        margin-left: 0px;
        padding: 40px;

        width: 100%;
        height: auto;
    }

    #dataCalendly {
        margin-top: 3em;
        min-width: 320px;
        min-height: 1300px;
    }

    .sci
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
