
.containerMentions {
    color: white;
}

.containerAllSectionsMentionsLegales {
    display: flex;
}

.containerMentionsLeft, .containerMentionsRight {
    gap: 3em;
    display: flex;
    flex-direction: column;
}


@media (max-width: 991px) {
    .containerAllSectionsMentionsLegales {
        gap: 3em;
        display: flex;
        flex-direction: column;
    }
    .containerMentionsLeft {
        flex-direction: row;
    }
    .containerMentionsRight {
        text-align: center;
    }
}